wrapper.node
wrapper.node.gz
no_frida_cache.json
oracle_cache.json
libsymbols.so
libvips-cpp.so*
libbugly.so
libcrbase.so
*.o
__pycache__/
*.pyc

# IDA Pro database files
*.id0
*.id1
*.id2
*.idb
*.i64
*.til
*.nam

